body{
	margin: 0;
	font-family: Century Schoolbook, sans-serif;
	font-size: 20px;
	line-height: 30px;
}


header{
	background-color: skyblue;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

h1, h2{
	font-family: 'Cinzel Decorative', cursive;
}

header h1{
	color: white;
	font-size: 50px;
}

header img{
	border-radius: 160px;
	width: 300px;
	border: 10px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: skyblue;
	margin: 40px 0 10px;
}

a{
	color: skyblue;
}
a:hover{
	color: royalblue;
}

footer{
	background-color: skyblue;
	text-align: center;
	color: white;
	padding: 20px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

p.caption{
	color: darkgray;
	font-style: italic;
	margin-top: 0;
}